@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://github.com/Joaofreitas18/Codigos_Academicos/blob/main/U_Desafio_outra_4/6a11401925083aa82b0f966846811632.jpg?raw=true') no-repeat center center fixed;
    background-size: cover;
    padding: 1rem;
}

.container {
    width: 70%;
    min-height: 80vh;
    display: flex;
    flex-direction: column; /* Ajusta a direção para coluna */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência para contraste */
    padding: 2rem; /* Adiciona padding ao contêiner */
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.6rem 1.5rem; /* Ajusta o padding para um tamanho consistente */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.login-button button:hover {
    background-color: #6b63fff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ede7e8;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 48%;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 100%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
    width: 100%;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza o botão dentro do contêiner */
}

.continue-button button {
    width: 50%; /* Ajusta a largura do botão */
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.8rem; /* Ajusta o padding para um tamanho consistente */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: block; /* Garante que o link ocupe toda a área do botão */
}

@media screen and (max-width: 1080px) {
    .container {
        width: 90%;
        height: auto;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        padding-right: 1rem;
        overflow-y: auto;
    }
    .input-box {
        width: 100%;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
